<div id="{{proj.id}}" ng-mouseenter="hoverin(proj)" ng-mouseleave="hoverout(proj)">
    <a class="overlay" ng-href={{proj.href}} target="_blank">
        <div class="description">
            <h2 ng-bind-html="proj.title"></h2>
            <h4>{{proj.hostenv}}</h4>
        </div>
    </a>
    <div class="imgContainer">
        <img class="image {{proj.orientation}}" src>
    </div>
</div>
